

.sidebar {
  background-color: white;
  width:72px;
  position: fixed;
  left:0;
  bottom: 0;
  top:55px;
  z-index: 200;
}
.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: lightgray;
}
.sidebar-link img {
  height:24px;
  margin-bottom: 6px;
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size:10px;
}